h2{
    color:yellow;
}

h1{
    color: yellow;
}

body{ 
    background-color: rgb(168, 7, 7); color:red;
    font-family: Verdana;
    text-align: center;
    }
    
p{
    color: black;
    font-weight: bold
}

header{
    border-bottom: 1px solid orange;
}

footer{
    border-top: 2px solid orange;
}

#nome-usuário{
    font-weight: bolder;
 }